<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>Alta Liquidos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.min.css')}}">
    </HEAD>
    <BODY>
        
        <header>
            <div align="center"><img src="{{url_for('static',filename='Imagenes/logoTEC.jpg')}}" class="ImgHeader">  </div>
            <br>
         </header>
        
        <MAIN>
            <h1 align="center">Registro de Liquidos de Laboratorio</h1>
            <div id="datosLiquidos" class="border-0">
             <form action="/liquidos/save" method="POST" align="center">
                  <table align="center" width=80% >
                    <body>
                      <tr>
                         <td >
                             <div class="form-group">
                               <label>IdLíquido:</label>
                             </div>
                           </td>
                           <td >
                             <div class="form-group">
                               <input type="number" class="form-control" name="idliquido" id="idliquido"  placeholder="Introduce el id del liquido" required>
                             </div>
                           </td>
                        <td >
                          <div class="form-group">
                            <label>IdLaboratorio:</label>
                          </div>
                        </td>
                        <td >
                          <div class="form-group">
                            <input type="number" class="form-control" name="idlaboratorio" id="idlaboratorio"  placeholder="Introduce el id del laboratorio" required>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <label>Medio de cultivo:</label>
                            </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="form-control" name="medio" id="medio"  placeholder="Introduce el medio de cultivo" required>
                        </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-group">
                            <label>Caducidad:</label>
                            </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="date" class="form-control" name="caducidad" id="caducidad" placeholder="Introduce la fecha de caducidad" required>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <label>cantidad:</label>
                            </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="number" class="form-control" name="cantidad" id="cantidad"  placeholder="cantidad de contenedores" required>
                          </div>
                        </td>
                        <td>
                            <div class="form-group">
                              <label>Capacidad:</label>
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="text" class="form-control" name="capacidad" id="capacidad"  placeholder="capacidad de cada contenedor" required>
                            </div>
                          </td>
                      </tr>
                      
                    </body>
                  </table>
                  <button align="center" class="btn btn-primary">Agregar</button>
                  <a  role="btn" class="btn btn-danger" href="/liquidos">Regresar</a>
            </form>   
          </div>
            </div>
            <br>
        </MAIN>

        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(245, 236, 236, 0.2)">
              <img src="{{url_for('static',filename='Imagenes/logoACC.png')}}" class="imgFooter">© 2020 Copyright:
              <a class="text-dark" href="https://www.teczamora.mx">www.teczamora.mx</a>
            </div>
            <!-- Copyright -->
          </footer>
        </BODY>
    </HTML>