<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>Modificar Usuario</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.min.css')}}">
        
    </HEAD>
    <BODY>
        
        <header>
            <div align="center"><img src="{{url_for('static',filename='Imagenes/logoTEC.jpg')}}" class="ImgHeader">  </div>
            <br>
         </header>
        <main>
             <h1 align="center">Modificacion de Equipos inventario</h1>
             <br>

             <div id="datosEquipo" class="border-0">
                <form action="/inventario/modificar" method="POST"  align="center" enctype="multipart/form-data">
                     <table align="center" width=80% >
                       <body>
                         <tr>
                            <td >
                                <div class="form-group">
                                  <label>IdEquipo:</label>
                                </div>
                              </td>
                              <td >
                                <div class="form-group">
                                  <input type="number" class="form-control" name="idequipo" id="idequipo" value="{{Equipo.IdEquipo}}" placeholder="Introduce el id del equipo" readonly required>
                                </div>
                              </td>
                           <td >
                             <div class="form-group">
                               <label>IdLaboratorio:</label>
                             </div>
                           </td>
                           <td >
                             <div class="form-group">
                               <input type="number" class="form-control" name="idlaboratorio" id="idlaboratorio" value="{{Equipo.IdLaboratorio}}" placeholder="Introduce el id del laboratorio" required>
                             </div>
                           </td>
                           <td>
                             <div class="form-group">
                               <label>Nombre del equipo:</label>
                               </div>
                           </td>
                           <td>
                             <div class="form-group">
                               <input type="text" class="form-control" name="nombreequipo" id="nombreequipo" value="{{Equipo.NombreEquipo}}" placeholder="Introduce nombre del artículo" required>
                           </div>
                           </td>
                         </tr>
                         <tr>
                           <td>
                             <div class="form-group">
                               <label>Cantidad:</label>
                               </div>
                           </td>
                           <td>
                             <div class="form-group">
                               <input type="number" class="form-control" name="cantidad" id="cantidad" value="{{Equipo.Cantidad}}" placeholder="Introduce la cantidad de artículos en stock" required>
                             </div>
                           </td>
                           <td>
                             <div class="form-group">
                               <label>Descripción:</label>
                               </div>
                           </td>
                           <td>
                             <div class="form-group">
                               <input type="text" class="form-control" name="descripcion" id="descripcion" value="{{Equipo.Descripcion}}" placeholder="capacidad en ML/GR" required>
                             </div>
                           </td>
                           <td>
                            <div class="form-group" id="Foto">
                                <label>Foto del equipo</label>
                                </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="file" class="form-control" name="foto" id="foto" width="50px" placeholder="Selecciona una foto del equipo" required>
                            </div>
                        </td>
                         </tr>
                         
                       </body>
                     </table>
                     <button align="center" class="btn btn-danger">Actualizar</button>
                     <a  role="btn" class="btn btn-primary" href="/inventario">Regresar</a>
               </form>   
             </div>
           </div>
           <br>
        </main>
        
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(245, 236, 236, 0.2)">
              <img src="{{url_for('static',filename='Imagenes/logoACC.png')}}" class="imgFooter">© 2020 Copyright:
              <a class="text-dark" href="https://www.teczamora.mx">www.teczamora.mx</a>
            </div>
            <!-- Copyright -->
        </footer>
    
    </BODY>
</HTML>